.body{
    display: grid;
    max-width: 100%;
    border-radius: 5px;
    width: auto;
    background-color: aliceblue;
    margin-top: 5em;
    margin-left: 10em;
    margin-right: 10em;
}

.content{
    display: grid;
    color: rgb(25, 45, 60);
    margin: 3em;
}

ol{
    display: grid;
    gap: 10px;
}