header {
  position: sticky;
  top: 0;
  z-index: 1; /*Ensure it will stay at top*/
  height: 5rem;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.85);
  display: grid;
  grid-template-columns: 100px auto 100px;
  text-align: center;
}

a:link {
  text-decoration: none;
}

header h1 {
  grid-column-start: 2;
}

.link {
  color: rgb(130, 255, 210);
  text-decoration: none;
}

.nav-toggle {
  position: absolute;
  left: 2rem;
  top: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  font-size: xx-large;
  color: aliceblue;
}

.nav-toggle:hover {
  background-color: rgb(40, 40, 40, 1);
  cursor: pointer;
}

nav {
  position: absolute;
  z-index: 2;
  width: 12rem;
  height: 1000%;
  text-align: left;
  top: 100%;
  left: -12rem;
  background-color: rgb(75, 75, 75);
  transition: 200ms;
}

#nav.active{
  left: 0;
}

.list-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(190, 90, 90);
}

@media screen and (min-width: 600px) {
  .nav-toggle {
    display: none;
  }

  header {
    position: sticky;
    text-align: unset;
    justify-content: unset;
    display: grid;
    grid-template-columns: 30px minmax(100px, 1fr) auto minmax(100px, 1fr) 30px;
    align-items: center;
  }

  header h1 {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 4 / 5;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  /*Here comes the animation part*/

  nav a::before {
    content: "";
    display: block;
    height: 3px;
    background-color: aliceblue;
    position: absolute;
    top: -0.5rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 150ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  nav a::after {
    content: "";
    display: block;
    height: 3px;
    background-color: aliceblue;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform ease-in-out 150ms;
  }

  nav a:hover::after {
    transform: scale(1, 1);
  }
}
