.nav-items{
    display: flex;
    align-items: center;
    background-color:rgb(50, 50, 50);
    height: 30px;
    padding: 30px 20px;
}

.nav-title{
    color: aquamarine;
}

.list-items{
    color: aliceblue;
    margin-left: auto;
    list-style: none;
    display: flex;
    column-gap: 10px;
}